body{
	background-image: url("image/sus.jpg");
	background:;

	

}
h1{

	color: skyblue;
	padding: 1;
	margin: 2000;
	width: 200;
	text-align:center;
}
p{
	background: black;
    color: whitesmoke;
   width: 200px;
   padding: 35px;
   border:2220;
 }
#inputnumber{
	background: blue;
}
}

